{% extends "diaryapp/base.html" %}

{% block body %}
    <div class="container">
        <form method="post" class="container__container-left">
	        {% csrf_token %}
	        {{ form.as_p }}
	        <button type="submit" class="primary-button">Save</button>
        </form>
        <div class="container__container-center">
<!--            <a class="primary-button" href="{{ object.origin }}" target="_blank" rel="noopener noreferrer">Origin</a>-->
            <a class="primary-button" href="{% url 'diaryapp:origin_delete' pk=origin.pk %}">Delete</a>
            <a class="primary-button" href="{% url 'diaryapp:origin_list' %}">Back</a>
        </div>
	</div>
{% endblock %}