{% extends "diaryapp/base.html" %}

{% block body %}
    <div class="container">
        <h2>Results for {{ date }}</h2>
	    <a class="primary-button" href="{% url 'diaryapp:day_update_form' pk=day.pk %}">Note day</a>
	    <a class="primary-button" href="{% url 'diaryapp:quest_form' %}?date={{ date|date:'Y-m-d' }}">Create Quest</a>
        {% if not object_list %}
            <h5>I hope this day didn't go to waste</h5>
        {% else %}
            <table>
                <tr>
                    <th>Create at</th><th>Origin</th><th>Completed at</th><th>Last update</th>
                </tr>
                {% for quest in object_list %}
                    <tr>
                        <td>{{ quest.created_at|date:"d.m.Y H:i"}}</td>
	                    {% if quest.origin.origin %}
                            <td><a href="{{ quest.origin.origin }}" target="_blank">{% firstof quest.origin.name "no name" %}</a></td>
	                    {% else %}
	                        <td>{% firstof quest.origin.name "no origin" %}</td>
	                    {% endif %}
	                    {% url 'diaryapp:quest_update_form' pk=quest.pk as base_url %}
                        {% if quest.completed_at %}
                            <td><a href="{{ base_url }}">✏{{ quest.completed_at|date:"d.m.Y H:i" }}</a></td>
                        {% else %}
                            <td><a href="{{ base_url }}">🕸</a></td>
                        {% endif %}
	                    {% if quest.last_update %}
                            <td><a href="{{ base_url }}">✏{{ quest.last_update|date:"d.m.Y H:i" }}</a></td>
                        {% else %}
	                        <td><a href="{{ base_url }}">🕸</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if has_previous and has_next %}
            <div class="container__container-row">
                <a class="primary-button" href="?date={{ date|date:'Y-m-d' }}&previous">Previous Day</a>
                <a class="primary-button" href="?date={{ date|date:'Y-m-d' }}&next">Next Day</a>
            </div>
        {% elif has_previous %}
            <div class="container__container-row">
                <a class="primary-button" href="?date={{ date|date:'Y-m-d' }}&previous">Previous Day</a>
            </div>
        {% elif has_next %}
            <div class="container__container-right">
	            <a class="primary-button" href="?date={{ date|date:'Y-m-d' }}&next">Next Day</a>
            </div>
        {% endif %}
	    <a class="primary-button" href="{% url 'diaryapp:index' %}">Back</a>
	</div>
{% endblock %}
