{% extends "diaryapp/base.html" %}

{% block js %}
	<script>
		const ENDPOINT = "{{ endpoint }}"
		const REDIRECT_URL = "{% url 'diaryapp:quest_list' %}?date={{ quest.created_at|date:'Y-m-d' }}"
	</script>
	{{ quest_data|json_script:"quest_data" }}
	{% load static %}
    <script src="{% static 'js/update_quest.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <h4>{{ quest.origin.name }}</h4>
        <h4>{{ quest.created_at }}</h4>

	    <p id="theme">{% firstof quest.theme '' %}</p>

	    <div id="task-container" class="item-container">
	        <h4>Tasks</h4>
        </div>

	    <div id="error-container" class="item-container">
		    <h4>Error List</h4>
	    </div>
	    <button type="button" id="add-error" class="primary-button">Add error</button>

	    <div id="problem-container" class="item-container">
		    <h4>Problem List</h4>
	    </div>
	    <button type="button" id="add-problem" class="primary-button">🌱 Add problem</button>

	    <div id="knowledge-container" class="item-container">
		    <h4>Knowledge List</h4>
	    </div>
	    <button type="button" id="add-knowledge" class="primary-button">🧠 Add knowledge</button>

	    <div class="buttons-container">
		    <button class="primary-button" id="save-quest" type="button">Save</button>
	        <a class="primary-button" href="{% url 'diaryapp:quest_delete' pk=quest.pk %}">Delete</a>
	        <a class="primary-button" href="{% url 'diaryapp:quest_list' %}?date={{ quest.created_at|date:'Y-m-d' }}">Back</a>
        </div>
    </div>
{% endblock %}