{% extends "dairyapp/base.html" %}

{% block body %}
    <div class="container">
        <h4>{{ day.created_at }}</h4>
        <form class="container__button-row" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="primary-button" value="{{ day.created_at|date:'Y-m-d' }}" name="date" type="submit">Save</button>
            <a class="primary-button" href="{% url 'dairyapp:quest_list' %}?date={{ day.created_at|date:'Y-m-d' }}">Back</a>
        </form>
    </div>
{% endblock %}
