{% extends "dairyapp/base.html" %}

{% block body %}
    <div class="container">
	    <div class="container__container-center">
		    {% for origin in object_list %}
		        {% if origin.status == "f" %}
                    <a class="primary-button" href="{% url 'dairyapp:origin_update' pk=origin.pk %}">❄️ {{ origin.name }}</a>
	            {% else %}
                    <a class="primary-button" href="{% url 'dairyapp:origin_update' pk=origin.pk %}">⚡️ {{ origin.name }}</a>
		        {% endif %}
		    {% empty %}
	            <h5>No origins yet</h5>
	        {% endfor %}
	    </div>
	    <div class="container__container-center">
		    <a class="primary-button" href="{% url 'dairyapp:origin_form' %}">Create Origin</a>
            <a class="primary-button" href="{% url 'dairyapp:index' %}">Back</a>
	    </div>
    </div>
{% endblock %}