{% extends "dairyapp/base.html" %}

{% block body %}

	<form class="container" method="post">
		{% csrf_token %}
		<div class="container__container-center">
			<h1>Confirm delete</h1>
			<p style="padding-left: 20px; padding-right: 20px;">Delete quest for {{ object.created_at }}<br>by {{ object.origin.name }}?</p>
		</div>
		<div class="container__container-row">
			<button class="container__button" type="submit" name="date" value="{{ object.created_at|date:'Y-m-d' }}">Yes</button>
			<a class="container__button" href="{% url 'dairyapp:quest_list' %}?date={{ object.created_at|date:'Y-m-d' }}">No</a>
		</div>
	</form>
{% endblock %}