{% extends "dairyapp/base.html" %}

{% block body %}
    <div class="container">
        <h4>{{ quest.origin.name }}</h4>
        <h4>{{ quest.created_at }}</h4>
        <form class="container__button-row" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="container__button" type="submit">Save</button>
	        <a class="container__button" href="{% url 'dairyapp:quest_delete' pk=quest.pk %}">Delete</a>
            <a class="container__button" href="{% url 'dairyapp:quest_list' %}?date={{ quest.created_at|date:'Y-m-d' }}">Back</a>
        </form>
    </div>
{% endblock %}
