{% extends "dairyapp/base.html" %}
{% load static %}
{% block js %}
	{% load static %}
	<script>const QUEST_ID = {{ quest.pk }}</script>
	<script>const REDIRECT_URL = "{% url 'dairyapp:quest_list' %}?date={{ quest.created_at|date:'Y-m-d' }}"</script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <h4>{{ quest.origin.name }}</h4>
        <h4>{{ quest.created_at }}</h4>

	    <label for="theme">Theme</label>
	    <input id="theme" value="{% firstof quest.theme_description '' %}">

	    <div id="done-container" class="item-container">
		    <h4>Done List</h4>
	    </div>
	    <button id="add-done" class="primary-button">🪦 Add done</button>

	    <div id="error-container" class="item-container">
		    <h4>Error List</h4>
	    </div>
	    <button type="button" id="add-error" class="primary-button">Add error</button>

	    <div id="problem-container" class="item-container">
		    <h4>Problem List</h4>
	    </div>
	    <button type="button" id="add-problem" class="primary-button">🌱 Add problem</button>

	    <div id="knowledge-container" class="item-container">
		    <h4>Knowledge List</h4>
	    </div>
	    <button type="button" id="add-knowledge" class="primary-button">🧠 Add knowledge</button>

	    <div class="buttons-container">
		    <button class="primary-button" id="save-quest" type="button">Save</button>
	        <a class="primary-button" href="{% url 'dairyapp:quest_delete' pk=quest.pk %}">Delete</a>
	        <a class="primary-button" href="{% url 'dairyapp:quest_list' %}?date={{ quest.created_at|date:'Y-m-d' }}">Back</a>
        </div>
    </div>
{% endblock %}