* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("/static/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 20%;
    border-radius: 10px;
    border: 1px solid wheat;
}

.container__container-left {
    display: flex;
    flex-direction: column;
    background: wheat;
    padding-left: 10px;
    width: 100%;
    border: 3px solid black;
    border-radius: 5px;
}

.container__container-right {
    display: flex;
    justify-content: flex-end;
    background: wheat;
    padding-right: 10px;
    width: 100%;
    border: 3px solid black;
    border-radius: 5px;
}

.container__container-row {
    display: flex;
    background: wheat;
    padding-left: 10px;
    width: 100%;
    border: 3px solid black;
    border-radius: 5px;
}

.container__container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: moccasin;
    width: 100%;
    border: 3px solid black;
    border-radius: 5px;
}

.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: moccasin;
    width: 100%;
    border: 3px solid black;
    border-radius: 5px;
}

.container__button {
    display: flex;
    margin: 10px;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    width: 50%;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    transition: 0.3s ease;
}

.container__button2parent {
    display: flex;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;

    height: 50%;
    transition: 0.3s ease;
}

.container__button2child {
    display: flex;
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 0;
    border-radius: 10px;
    border: 1px solid black;
}

.container__button2parent:hover {
    background-color: black;
    color: white;
}

.container__button2child:hover {
    background-color: black;
    color: white;
}


.container__button:hover {
    background-color: black;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: wheat;
}

th {
    border: 1px solid #ad1d1d;
    padding: 8px;
    color: #f7f7f5;
    background-color: #040508;
}

td {
    border: 2px solid black;
    padding: 10px;
}

td a {
    color: black;
    text-decoration: none;
}

td a:hover {
    color: white;
}

textarea {
    width: 100%;
    resize: vertical;
}
